<div class="login-container">
  <div class="jumbotron devise-container">
    <div class="tabs-container">
      <a>Login</a> |
      <a href="/users/sign_up" class="active-link">Sign Up</a>
    </div>

    <div class="facebook-container">
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary" %>

      <!--<button type="button" class="btn btn-primary" aria-label="Left Align">-->
        <!--Login with Facebook-->
      <!--</button>-->
    </div>

    <div class="use-email"></div>

    <br />

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, :class => 'form-control', placeholder: 'Email address' %>
      <br />
      <%= f.password_field :password, autocomplete: "on", :class => 'form-control', placeholder: "Password"%>
        <br />
        <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Login", :class => 'btn btn-login-default' %>
        </div>
    <% end %>
  </div>
</div>



